.login-page {
    background-color: #f0f8ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navbar-custom {
    background-color: #e6f0ff;
    padding: 10px 0;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .scroll-text {
    font-size: 30px;
    font-weight: bold;
    color: #081230;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll-left 15s linear infinite;
  }
  
  /* Marquee-like animation */
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  