
.navbar-custom {
    position: fixed;
    top: 2px;
    left: 0;
    width: 100%;
    background-color: #cdced2;
    padding: 12px 0;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  /* register.css */
  .navbar-custom {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent */
    z-index: 999;
  }
  
  .scroll-text {
    font-weight: bold;
    color: #333;
    font-size: 1.2rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #f0f0f0;
    width: 100%;
  }
  
  .btn-success {
    font-weight: 500;
  }
  

  
  
  .scroll-text {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #0f1449;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @media screen and (max-width: 600px) {
    .form-container {
      padding: 10px;
      margin: 0;
    }
  
    .card {
      width: 100%;
    }
  
    .scroll-text {
      font-size: 14px;
    }
  }
